      </div>
    </div>
       </div>
</div>

  <footer>
  <p>&copy; 2025 Brandon Himpfen. All rights reserved.</p>
  <p>
    <a href="https://www.himpfen.com/about/" class="nav-link px-2 text-body-secondary">About</a>
    <a href="https://www.himpfen.com/copyright/" class="nav-link px-2 text-body-secondary">Copyright Notice</a>   
    <a href="https://www.himpfen.com/disclosure-disclaimer/" class="nav-link px-2 text-body-secondary">Disclosure/Disclaimer</a>   
    <a href="https://www.himpfen.com/privacy/" class="nav-link px-2 text-body-secondary">Privacy Policy</a>    
    <a href="https://www.himpfen.com/terms/" class="nav-link px-2 text-body-secondary">Terms</a>    
  </p>
</footer>
