      </div>
    </div>
       </div>
</div>
<div class="container-fluid">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="{{ "/about/" | relative_url }}" class="nav-link px-2 text-body-secondary">About</a></li>
    <li class="nav-item"><a href="{{ "/copyright/" | relative_url }}" class="nav-link px-2 text-body-secondary">Copyright Notice</a></li>
    <li class="nav-item"><a href="{{ "/disclosure-disclaimer/" | relative_url }}" class="nav-link px-2 text-body-secondary">Disclosure/Disclaimer</a></li>
    <li class="nav-item"><a href="{{ "/privacy/" | relative_url }}" class="nav-link px-2 text-body-secondary">Privacy Policy</a></li>
    <li class="nav-item"><a href="{{ "/terms/" | relative_url }}" class="nav-link px-2 text-body-secondary">Terms</a></li>
    <li class="nav-item"><a href="https://brandon.tiny.us/donate" class="nav-link px-2 text-body-secondary">Donate</a></li>    
    </ul>
    <p class="text-center text-body-secondary">&copy; {{ 'now' | date: "%Y" }} {{ site.title | escape }} - All Rights Reserved.</p>
  </footer>
</div>
